@model SongDiaryV1._0.Models.Song.SongVM

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>SongVM</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Author)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Author)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.YouTubeLink)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.YouTubeLink)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LyricsChords)
        </dt>
        <dd class="col-sm-10">
            <textarea>@Html.DisplayFor(model => model.LyricsChords)</textarea>
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Capo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Capo)
        </dd>
    </dl>
</div>
<div>
    @if ((this.User.Identity.IsAuthenticated) && (this.User.IsInRole("Administrator")))
    {
        <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a>
    }
    <a asp-action="Index">Back to List</a>
</div>
